// Specific CSS for your home-page

.banner {
  img {
    max-width: 50%;
    height: auto;
    object-fit: contain;
  }
  display: flex;
  width: 100vw;
  justify-content: center;
}

.container{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
